In [12]:
import datalab.bigquery as bq

In [13]:
%sql --module nyctaxi
SELECT pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude,
dropoff_latitude, passenger_count
FROM [nyc-tlc:yellow.trips] LIMIT 3

In [14]:
trips = bq.Query(nyctaxi).to_dataframe()
trips

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2010-02-05 01:20:05,-73.979935,40.761105,-73.966230,40.689831,1
1,2010-03-07 00:58:45,-74.001449,40.726071,-73.980448,40.744253,2
2,2010-03-05 20:17:51,-73.863740,40.734245,-73.991364,40.750096,1